


   <ion-slides [options]="featuresOpts">
        <ion-slide *ngFor="let slide of slides">
        <ion-card>
  <ion-card-header>
  <ion-chip class="status" color="danger">
  <ion-label color="dark">Closed</ion-label>
</ion-chip>
  <img _ngcontent-c0="" src="https://via.placeholder.com/300x300">
  </ion-card-header>
  <ion-card-content>
     <ion-grid>
        <ion-row>
            <ion-col>
            
          <marquee _ngcontent-c0="" behavior="scroll" direction="left">Here..</marquee>
          </ion-col>
        </ion-row>

          <ion-row>
            <ion-col>
            <p>accessorcies</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>
        </ion-slide>
        </ion-slides>
